extends mainlayout
block header
    link(rel='stylesheet' href='./static/css/login.css')
block content
    div(class='row justify-content-center height-90')
        div(class='box')
            p(id='titulo-login' class='h4 mb-4') Acceso a WebTriageStartApp
            form(class='form' method='POST' action='/login')
                div(class='form-group' class='text-white')
                    input(type='text' name='userId' class='form-control' id='input-name'  placeholder='Número de Colegiado')
                div(class='form-group' class='text-white')
                    input(type='password' name='password' class='form-control' id='input-password' placeholder='Contraseña')
                div(class='form-button-box')
                    button(id='btn-login' class='btn  btn-warning' type='submit') Acceder
                    a(id='link-registrarse' class='margin-left-1' href='/signup') Registrarse
                    if message
                        p=message