extends mainlayout
block header
    link(rel="stylesheet" href="./static/css/login.css")
block content
    div(class="container")
        div(id="login-row" class="row justify-content-center align-items-center")
            div(id="login-column" class="col-md-6")
                div(class="box")
                    div(class="shape1")
                    div(class="shape2")
                    div(class="shape3")
                    div(class="shape4")
                    div(class="shape5")
                    div(class="shape6")
                    div(class="float")
                        p(id="titulo-login" class="h4 mb-4 text-white") Acceso WebTriageStartApp
                        form(class="form" action="")
                            div(class="form-group" class="text-white")
                                label(for="idmedico" class="text-white") Médico:
                                input(type="text" name="IdMedico" class="form-control" id="input-idmedico"  placeholder="Identificación del Medico")
                            div(class="form-group" class="text-white")
                                label(for="pregunta" class="text-white") Contraseña: 
                                input(type="password" name="password" class="form-control" id="input-password" placeholder="Password")
                            button(id="btn-acceder" class="btn  btn-warning" type="submit") Acceder
                            a(id="link-registrase"  href="/signup") Registrarse