doctype html
html
  head
    title=title
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="/static/javascripts/googlemapservice.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="/static/css/footer.css")
    link(rel="stylesheet" href="/static/css/content.css")
    link(rel="stylesheet" href="/static/css/navbar-top.css")
    block header
  body
    include navbar
     div(class="container-fluid")
      block content
    include footer