extends mainlayout
block content
    div(class="content")
        div(class="row")
            div(class="col-md-4")
                div(class="content")
                    div(class="user-section")
            div(class="col-md-8")
                div(class="content")
                    row(class="row no-gutters")
                        div(class="col-md-3")
                            div(class="btn-group-vertical")
                                legend Asistencias
                                div(class="custom-control custom-checkbox")
                                    input(type="checkbox" class="custom-control-input" id="low-priority-input")
                                    label(class="custom-control-label" for="low-priority-input")  Prioridad Baja
                                div(class="custom-control custom-checkbox")
                                    input(type="checkbox" class="custom-control-input" id="medium-priority-input")
                                    label(class="custom-control-label" for="medium-priority-input") Prioridad Media
                                div(class="custom-control custom-checkbox")
                                    input(type="checkbox" class="custom-control-input" id="high-priority-input")
                                    label(class="custom-control-label" for="high-priority-input") Prioridad Alta 
                                div(class="custom-control custom-checkbox")
                                    input(type="checkbox" class="custom-control-input" id="not-priority-input")
                                    label(class="custom-control-label" for="not-priority-input") Sin Prioridad
                                div(class="custom-control custom-checkbox")
                                    input(type="checkbox" class="custom-control-input" id="assisted-input")
                                    label(class="custom-control-label" for="assisted-input") Asistidos
                                div(class="actions-buttons")
                                    button(type="button" class="btn btn-info btn-sm" onclick="drawTags();") Mostrar Pacientes
                        div(class="col")
                            div#google-map