block sidebar
    nav(id="sidebar")
        div(class="sidebar-header")
            h3 Sistema de Triaje Web
            ul(class="list-unstyled components")
            li(class="active")
                a(href="#access" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle") Acceso 
                ul(class="collapse list-unstyled" id="#access")
                    li
                        a(href="#") Login
                    li
                        a(href="#") Registro
                    li
                        a(href="#") Recuperación de cuenta
            li
                a(href="#") Gestion de usuarios
            li
                a(href="#") Mapa
            li
                a(href="#") About
    div(id="content")
                    nav(class="navbar navbar-expand-lg navbar-light bg-light")
                        div(class="container-fluid")
                            button(type="button" id="sidebarCollapse" class="btn btn-info")
                                i(class="fas fa-align-left")
                                span Toggle Sidebar