block sidebar
        script.
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        div(class="container-fluid wrapper")
            div  
                nav(id="sidebar")
                    div(class="sidebar-header")
                        h3 Web Triaje Start
                    ul(class="list-unstyled components")
                        li(class="active")
                            a(href="/login") Acceso
                        li
                            a(href="/signup") Registro
                        li
                            a(href="/users") Usuario
                        li
                            a(href="/triageManagement") Mapa
            div
                nav(class="navbar navbar-expand-lg navbar-light bg-light")
                    div(id="content-block")
                        button(type="button" id="sidebarCollapse" class="btn btn-info hide-button")
                            i(class="fas fa-align-left")
                            Span  Ocultar
                        block content
