extends mainlayout
block header
    link(rel="stylesheet" href="/static/css/signup.css")
block content
    div(class="container")
        div(id="signup-row" class="row justify-content-center align-items-center")
            div(id="signup-column" class="col-md-6")
                div(class="box")
                    div(class="shape1")
                    div(class="shape2")
                    div(class="shape3")
                    div(class="shape4")
                    div(class="shape5")
                    div(class="shape6")
                    div(class="float")
                        p(id="titulo-signup" class="h4 mb-4 text-white") Registro WebTriageStartApp
                        form(class="form" action="")
                            div(class="form-group" class="text-white")
                                label(for="idmedico" class="text-white") Médico:
                                input(type="text" name="idMedico" class="form-control" id="idmedico"  placeholder="Identificación del Medico")
                            div(class="form-group" class="text-white")
                                label(for="idrespuesta" class="text-white") Respuesta Recuperación:
                                input(type="text" name="respuesta" class="form-control" id="idrespuesta"  placeholder="Palabra de recuperación de cuenta")
                            div(class="form-group" class="text-white")
                                label(for="idpassword" class="text-white") Contraseña: 
                                input(type="password" name="password" class="form-control" id="idpassword" placeholder="Contraseña")
                            div(class="form-group" class="text-white")
                                label(for="rolselect" class="text-white") Rol: 
                                select(id="rolselect" class="form-control")
                                    option(value="Usuario",selected = true) Usuario
                                    option(value="Administrador") Administrador
                            button(id="btn-registrar" class="btn  btn-warning" type="submit") Registrar
                            