extends mainlayout
block header
    link(rel='stylesheet' href='/static/css/triage-management.css')
block content
    div(class='container-fluid')
        div(class='triagebox')
            div(class='row tittlebox')
                p(id='titulo-signup' class='h4 mb-4') Gestión del Triage
            div(class='row prioritybox')
                div(class='col-md-3 custom-control custom-checkbox no-gutters')
                    input(type='checkbox' class='custom-control-input' id='low-priority-input')
                    label(class='custom-control-label' for='low-priority-input') Baja
                div(class='col-md-3 custom-control custom-checkbox no-gutters')
                    input(type='checkbox' class='custom-control-input' id='medium-priority-input')
                    label(class='custom-control-label' for='medium-priority-input') Media
                div(class='col-md-3 custom-control custom-checkbox no-gutters')
                    input(type='checkbox' class='custom-control-input' id='high-priority-input')
                    label(class='custom-control-label' for='high-priority-input') Alta 
            div(class='row actions-buttons')
                button(type='button' class='btn btn-info btn-sm' onclick='drawTags();') Mostrar Pacientes
            div(class='row')
                div#google-map
block footer
    script( async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDEPheuW-4HXMimL5Ti-AOKsM5coLaKJCg&callback=initialMap')
    script(src='/static/javascripts/map-utils.js')