.box {
    width: 440px;
    margin-top: 10%;
}

.shape1 {
    position: relative;
    height: 170px;
    width: 170px;
    background-color: #339900;
    border-radius: 100px;
    float: left;
    margin-top: 20px;
    margin-left: -20px;
}

.shape2 {
    position: relative;
    height: 180px;
    width: 180px;
    background-color: #339900;
    border-radius: 100px;
    float: left;
    margin-left: -60px;
    margin-top: 10px;
}

.shape3 {
    position: relative;
    height: 170px;
    width: 170px;
    background-color: #339900;
    border-radius: 100px;
    float: left;
    margin-left: -60px;
    margin-top: 20px;
}

.shape4 {
    position: relative;
    height: 180px;
    width: 180px;
    background-color: #339900;
    border-radius: 100px;
    float: left;
    margin-left: -30px;
    margin-top: -50px;
}

.shape5 {
    position: relative;
    height: 190px;
    width: 190px;
    background-color: #339900;
    border-radius: 100px;
    float: left;
    margin-left: -60px;
    margin-top: -50px;
}

.shape6 {
    position: relative;
    height: 180px;
    width: 180px;
    background-color: #339900;
    border-radius: 100px;
    float: left;
    margin-left: -70px;
    margin-top: -50px;
}

.shape7 {
    position: relative;
    height: 120px;
    width: 150px;
    background-color: #339900;
    border-radius: 30px;
    float: left;
    margin-left: -160px;
    margin-top: 100px;
}

.float {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 20px;
}

#titulo-login {
    margin-top: 25px;
}

.btn-warning {
    border-radius: 10px;
    color: white;
   
}
 #btn-acceder:hover { 
     color: white; 
     text-decoration: underline; 
     font-weight: bolder;
 }
 #btn-acceder:active {
     color: white; 
     font-weight: bolder;
 }
#link-registrase {
       margin-left: 5px;
       font-weight: lighter;
       color: white;
}