.container-fluid{
    padding: 0;
    margin-left: 1rem;
}
.box {
    margin-top: 2rem;
    padding: 1em;
    background-color: #4bff0178;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    margin-bottom: 2rem; 
}
.msg-box-error {
    border-style: groove;
    border: 0.25rem;
    padding: 0.75rem;
    background-color: #f14f4fb3;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-top: 1rem;
    border-radius: 0.25rem;
    border-color: rgba(139, 0, 0, 0.479);
  }
#titulo-login {
    color: #007909;
}
.height-90{
    min-height: 90vh;
}
.form-group {
    margin: 0 0 1rem 0;
    
}
.text-white-label {
   display: none;
}
.form-control{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: lightslategray;
}
.text-msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  0.75rem;
    color: #e9ecef;
}
#btn-login {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    background: #007e18;
    border-color: #006c06;
}
#link-registrarse{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: #007909;
    font-weight: bolder;
}
.margin-left-1{
        margin-left: 1rem;
       
}