.wrapper {
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    flex-flow: row;
}
.hide-button, .hide-button:active, .hide-button:focus {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    background: #007e18;
    border-color: #006c06 !important;
}

#content-block {
    margin: 0 0;
    padding: 0 0;
    height: 100vh;
    width: 100%;
}

#sidebar.active {
  margin-left: -150px;
}

#sidebar {
    min-width: 150px;
    max-width: 150px;
    background: rgba(75, 255, 1, 0.47);
    color:white;
    height: 100vh !important;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    background-image: linear-gradient(to right, #009900,#006900,#003C00);
    
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -200px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 1rem;
    background-image: linear-gradient(to right, #009900,#006900,#003C00);
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

