
.box {
    margin-top: 10%;
    padding: 1em;
    background-color: #4bff0178;
    border-radius: 0.5rem;
    display: flex;
    justify-self: center;
    align-self: start;
    flex-direction: column;
    max-width: 440px;
    margin-bottom: 4rem; 
}
.msg-box-error {
    border-style: groove;
    border: 0.25rem;
    padding: 0.75rem;
    background-color: #f14f4fb3;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-top: 1rem;
    border-radius: 0.25rem;
    border-color: rgba(139, 0, 0, 0.479);
  }

  
  
#titulo-signup {
    color: #007909;
}
.height-90{
    min-height: 90vh;
}
.form-group {
    margin: 0 0 1rem 0;
    
}
.form-control{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: lightslategray;
}
.text-msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  0.75rem;
    color: #e9ecef;
}
#btn-signup {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: #007e18;
    border-color: #006c06;
}